<br>
<h1 class="text-center" id="heading">Login Page
</h1>

<!-- <div class="container-fluid" id="maindiv"  >
    <div class="row">
        <div class="col-md-6">
            <div class="card" id="middle-card" style="width: 22rem;">
                <div class="card-body">
                    <a class="dropdown-item" [routerLink]="['bankerLogin']">Login As Banker</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" id="middle-card" style="width: 22rem;">
                <div class="card-body">
                        <a class="dropdown-item" [routerLink]="['customerLogin']">Login As Customer</a>
                </div>
            </div>
        </div>
    </div>
</div> -->